In [1328]:
# importing all the libraries
import pandas as pd
import numpy as np
import random as rnd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.metrics import f1_score
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC , LinearSVR
from sklearn.ensemble import RandomForestClassifier,RandomForestRegressor
from sklearn.neighbors import KNeighborsClassifier,KNeighborsRegressor
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier,SGDRegressor
from sklearn.tree import DecisionTreeClassifier,DecisionTreeRegressor
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import OrdinalEncoder,StandardScaler,LabelEncoder,OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.metrics import classification_report
from sklearn.preprocessing import MinMaxScaler,StandardScaler
import xgboost as xgb
from sklearn.metrics import mean_squared_error

In [1329]:
df_train = pd.read_csv(r'F:\Machine Learning\Kaggle\House Prices Advanced Regressoin\train.csv')
df_test = pd.read_csv(r'F:\Machine Learning\Kaggle\House Prices Advanced Regressoin\test.csv')

In [1330]:
df_train

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [1331]:
# shape of train and test data
print(df_train.shape)
print(df_test.shape)

(1460, 81)
(1459, 80)

In [1332]:
# describe
df_train.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

In [1333]:
# data types
df_train.dtypes

Id                 int64
MSSubClass         int64
MSZoning          object
LotFrontage      float64
LotArea            int64
                  ...
MoSold             int64
YrSold             int64
SaleType          object
SaleCondition     object
SalePrice          int64
Length: 81, dtype: object

In [1334]:
df_train.dtypes.value_counts()

object     43
int64      35
float64     3
dtype: int64

In [1335]:
objects = []
int_value = []
float_value = []
for col in df_train.columns:
    if df_train[col].dtype=='int64':
        int_value.append(col)
    elif df_train[col].dtype=='object':
        objects.append(col)
    else:
        float_value.append(col)

In [1336]:
# objects types data
for i in objects:
    print(i)

MSZoning
Street
Alley
LotShape
LandContour
Utilities
LotConfig
LandSlope
Neighborhood
Condition1
Condition2
BldgType
HouseStyle
RoofStyle
RoofMatl
Exterior1st
Exterior2nd
MasVnrType
ExterQual
ExterCond
Foundation
BsmtQual
BsmtCond
BsmtExposure
BsmtFinType1
BsmtFinType2
Heating
HeatingQC
CentralAir
Electrical
KitchenQual
Functional
FireplaceQu
GarageType
GarageFinish
GarageQual
GarageCond
PavedDrive
PoolQC
Fence
MiscFeature
SaleType
SaleCondition

## Null values in Object Type Data

In [1337]:
for col in objects:
    print('train ' , col , ' ',sum(df_train[col].isnull()))
    print('test ',col , ' ' ,sum(df_test[col].isnull()))

train  MSZoning   0
test  MSZoning   4
train  Street   0
test  Street   0
train  Alley   1369
test  Alley   1352
train  LotShape   0
test  LotShape   0
train  LandContour   0
test  LandContour   0
train  Utilities   0
test  Utilities   2
train  LotConfig   0
test  LotConfig   0
train  LandSlope   0
test  LandSlope   0
train  Neighborhood   0
test  Neighborhood   0
train  Condition1   0
test  Condition1   0
train  Condition2   0
test  Condition2   0
train  BldgType   0
test  BldgType   0
train  HouseStyle   0
test  HouseStyle   0
train  RoofStyle   0
test  RoofStyle   0
train  RoofMatl   0
test  RoofMatl   0
train  Exterior1st   0
test  Exterior1st   1
train  Exterior2nd   0
test  Exterior2nd   1
train  MasVnrType   8
test  MasVnrType   16
train  ExterQual   0
test  ExterQual   0
train  ExterCond   0
test  ExterCond   0
train  Foundation   0
test  Foundation   0
train  BsmtQual   37
test  BsmtQual   44
train  BsmtCond   37
test  BsmtCond   45
train  BsmtExposure   38
test  BsmtExposure   44
train  BsmtFinType1   37
test  BsmtFinType1   42
train  BsmtFinType2   38
test  BsmtFinType2   42
train  Heating   0
test  Heating   0
train  HeatingQC   0
test  HeatingQC   0
train  CentralAir   0
test  CentralAir   0
train  Electrical   1
test  Electrical   0
train  KitchenQual   0
test  KitchenQual   1
train  Functional   0
test  Functional   2
train  FireplaceQu   690
test  FireplaceQu   730
train  GarageType   81
test  GarageType   76
train  GarageFinish   81
test  GarageFinish   78
train  GarageQual   81
test  GarageQual   78
train  GarageCond   81
test  GarageCond   78
train  PavedDrive   0
test  PavedDrive   0
train  PoolQC   1453
test  PoolQC   1456
train  Fence   1179
test  Fence   1169
train  MiscFeature   1406
test  MiscFeature   1408
train  SaleType   0
test  SaleType   1
train  SaleCondition   0
test  SaleCondition   0

In [1338]:
# MSZoning

df_train['MSZoning'].value_counts()

RL         1151
RM          218
FV           65
RH           16
C (all)      10
Name: MSZoning, dtype: int64

In [1339]:
df_test['MSZoning'].value_counts()

RL         1114
RM          242
FV           74
C (all)      15
RH           10
Name: MSZoning, dtype: int64

In [1340]:
# if null value
print(sum(df_train['MSZoning'].isnull()))
print(sum(df_test['MSZoning'].isnull()))

0
4

In [1341]:
# replace missing values with 
df_test['MSZoning'] = df_test['MSZoning'].fillna(df_test['MSZoning']=='RM')
print(sum(df_test['MSZoning'].isnull()))

0

In [1342]:
encod = LabelEncoder()

In [1343]:
df_train['MSZoning'] = encod.fit_transform(df_train['MSZoning'])

In [1344]:
df_test['MSZoning'].value_counts(False)

RL         1114
RM          242
FV           74
C (all)      15
RH           10
False         4
Name: MSZoning, dtype: int64

In [1345]:
for element in (df_test['MSZoning']):
    if element==False:
        element = 'RM'
        print(element)

RM
RM
RM
RM

In [1346]:
df_test['MSZoning']= df_test['MSZoning'].replace([False],['RM'])

In [1347]:
df_test['MSZoning'].value_counts(False)

RL         1114
RM          246
FV           74
C (all)      15
RH           10
Name: MSZoning, dtype: int64

In [1348]:
df_test['MSZoning'] = encod.fit_transform(df_test['MSZoning'])

## Street

In [1349]:
df_train['Street'].value_counts()

Pave    1454
Grvl       6
Name: Street, dtype: int64

In [1350]:
df_test['Street'].value_counts()

Pave    1453
Grvl       6
Name: Street, dtype: int64

In [1351]:
df_train['Street'] = encod.fit_transform(df_train['Street'])
df_test['Street'] = encod.fit_transform(df_test['Street'])

## Alley

In [1352]:
df_train['Alley'].value_counts()

Grvl    50
Pave    41
Name: Alley, dtype: int64

In [1353]:
df_test['Alley'].value_counts()

Grvl    70
Pave    37
Name: Alley, dtype: int64

In [1354]:
'''
train  Alley   1369
test  Alley   1352

50% of data Should be Grvl
and another 50% should be Pave
'''

mask = df_train['Alley'].isna() 
ind = df_train['Alley'].loc[mask].sample(frac=0.5).index
df_train.loc[ind, 'Alley'] = 'Grvl'
df_train['Alley'] = df_train['Alley'].fillna('Pave')

In [1355]:
mask = df_test['Alley'].isna() 
ind = df_test['Alley'].loc[mask].sample(frac=0.5).index
df_test.loc[ind, 'Alley'] = 'Grvl'
df_test['Alley'] = df_test['Alley'].fillna('Pave')

In [1356]:
df_train['Alley'].value_counts()

Grvl    734
Pave    726
Name: Alley, dtype: int64

In [1357]:
df_test['Alley'].value_counts()

Grvl    746
Pave    713
Name: Alley, dtype: int64

In [1358]:
df_train['Alley'] = encod.fit_transform(df_train['Alley'])
df_test['Alley'] = encod.fit_transform(df_test['Alley'])

## LotShape

In [1359]:
df_train['LotShape'].value_counts()

Reg    925
IR1    484
IR2     41
IR3     10
Name: LotShape, dtype: int64

In [1360]:
df_test['LotShape'].value_counts()

Reg    934
IR1    484
IR2     35
IR3      6
Name: LotShape, dtype: int64

In [1361]:
df_train['LotShape'] = encod.fit_transform(df_train['LotShape'])
df_test['LotShape'] = encod.fit_transform(df_test['LotShape'])

## LandContour

In [1362]:
df_train['LandContour'].value_counts()

Lvl    1311
Bnk      63
HLS      50
Low      36
Name: LandContour, dtype: int64

In [1363]:
df_test['LandContour'].value_counts()

Lvl    1311
HLS      70
Bnk      54
Low      24
Name: LandContour, dtype: int64

In [1364]:
df_train['LandContour'] = encod.fit_transform(df_train['LandContour'])
df_test['LandContour'] = encod.fit_transform(df_test['LandContour'])

## I will run label encode all the object columns and if there is null value then skip this

In [1365]:
null_valued_columns = []
for col in objects:
    train_null = sum(df_train[col].isnull())
    test_null = sum(df_test[col].isnull())
    
    if train_null==0 and test_null == 0:
        df_train[col] = encod.fit_transform(df_train[col])
        df_test[col] = encod.fit_transform(df_test[col])
    else:
        null_valued_columns.append(col)

### null valued columns list

In [1366]:
null_valued_columns

['Utilities',
 'Exterior1st',
 'Exterior2nd',
 'MasVnrType',
 'BsmtQual',
 'BsmtCond',
 'BsmtExposure',
 'BsmtFinType1',
 'BsmtFinType2',
 'Electrical',
 'KitchenQual',
 'Functional',
 'FireplaceQu',
 'GarageType',
 'GarageFinish',
 'GarageQual',
 'GarageCond',
 'PoolQC',
 'Fence',
 'MiscFeature',
 'SaleType']

# Utilities

In [1367]:
df_train['Utilities'].value_counts()

AllPub    1459
NoSeWa       1
Name: Utilities, dtype: int64

In [1368]:
df_test['Utilities'].value_counts()

AllPub    1457
Name: Utilities, dtype: int64

In [1369]:
for col in null_valued_columns:
    print('train ',col ,' ', sum(df_train[col].isnull()))
    print('test ',col ,' ', sum(df_test[col].isnull()))
    print(df_train[col].value_counts())
    print(df_test[col].value_counts())

train  Utilities   0
test  Utilities   2
AllPub    1459
NoSeWa       1
Name: Utilities, dtype: int64
AllPub    1457
Name: Utilities, dtype: int64
train  Exterior1st   0
test  Exterior1st   1
VinylSd    515
HdBoard    222
MetalSd    220
Wd Sdng    206
Plywood    108
CemntBd     61
BrkFace     50
WdShing     26
Stucco      25
AsbShng     20
BrkComm      2
Stone        2
CBlock       1
ImStucc      1
AsphShn      1
Name: Exterior1st, dtype: int64
VinylSd    510
MetalSd    230
HdBoard    220
Wd Sdng    205
Plywood    113
CemntBd     65
BrkFace     37
WdShing     30
AsbShng     24
Stucco      18
BrkComm      4
CBlock       1
AsphShn      1
Name: Exterior1st, dtype: int64
train  Exterior2nd   0
test  Exterior2nd   1
VinylSd    504
MetalSd    214
HdBoard    207
Wd Sdng    197
Plywood    142
CmentBd     60
Wd Shng     38
Stucco      26
BrkFace     25
AsbShng     20
ImStucc     10
Brk Cmn      7
Stone        5
AsphShn      3
CBlock       1
Other        1
Name: Exterior2nd, dtype: int64
VinylSd    510
MetalSd    233
HdBoard    199
Wd Sdng    194
Plywood    128
CmentBd     66
Wd Shng     43
BrkFace     22
Stucco      21
AsbShng     18
Brk Cmn     15
ImStucc      5
CBlock       2
AsphShn      1
Stone        1
Name: Exterior2nd, dtype: int64
train  MasVnrType   8
test  MasVnrType   16
None       864
BrkFace    445
Stone      128
BrkCmn      15
Name: MasVnrType, dtype: int64
None       878
BrkFace    434
Stone      121
BrkCmn      10
Name: MasVnrType, dtype: int64
train  BsmtQual   37
test  BsmtQual   44
TA    649
Gd    618
Ex    121
Fa     35
Name: BsmtQual, dtype: int64
TA    634
Gd    591
Ex    137
Fa     53
Name: BsmtQual, dtype: int64
train  BsmtCond   37
test  BsmtCond   45
TA    1311
Gd      65
Fa      45
Po       2
Name: BsmtCond, dtype: int64
TA    1295
Fa      59
Gd      57
Po       3
Name: BsmtCond, dtype: int64
train  BsmtExposure   38
test  BsmtExposure   44
No    953
Av    221
Gd    134
Mn    114
Name: BsmtExposure, dtype: int64
No    951
Av    197
Gd    142
Mn    125
Name: BsmtExposure, dtype: int64
train  BsmtFinType1   37
test  BsmtFinType1   42
Unf    430
GLQ    418
ALQ    220
BLQ    148
Rec    133
LwQ     74
Name: BsmtFinType1, dtype: int64
GLQ    431
Unf    421
ALQ    209
Rec    155
BLQ    121
LwQ     80
Name: BsmtFinType1, dtype: int64
train  BsmtFinType2   38
test  BsmtFinType2   42
Unf    1256
Rec      54
LwQ      46
BLQ      33
ALQ      19
GLQ      14
Name: BsmtFinType2, dtype: int64
Unf    1237
Rec      51
LwQ      41
BLQ      35
ALQ      33
GLQ      20
Name: BsmtFinType2, dtype: int64
train  Electrical   1
test  Electrical   0
SBrkr    1334
FuseA      94
FuseF      27
FuseP       3
Mix         1
Name: Electrical, dtype: int64
SBrkr    1337
FuseA      94
FuseF      23
FuseP       5
Name: Electrical, dtype: int64
train  KitchenQual   0
test  KitchenQual   1
TA    735
Gd    586
Ex    100
Fa     39
Name: KitchenQual, dtype: int64
TA    757
Gd    565
Ex    105
Fa     31
Name: KitchenQual, dtype: int64
train  Functional   0
test  Functional   2
Typ     1360
Min2      34
Min1      31
Mod       15
Maj1      14
Maj2       5
Sev        1
Name: Functional, dtype: int64
Typ     1357
Min2      36
Min1      34
Mod       20
Maj1       5
Maj2       4
Sev        1
Name: Functional, dtype: int64
train  FireplaceQu   690
test  FireplaceQu   730
Gd    380
TA    313
Fa     33
Ex     24
Po     20
Name: FireplaceQu, dtype: int64
Gd    364
TA    279
Fa     41
Po     26
Ex     19
Name: FireplaceQu, dtype: int64
train  GarageType   81
test  GarageType   76
Attchd     870
Detchd     387
BuiltIn     88
Basment     19
CarPort      9
2Types       6
Name: GarageType, dtype: int64
Attchd     853
Detchd     392
BuiltIn     98
Basment     17
2Types      17
CarPort      6
Name: GarageType, dtype: int64
train  GarageFinish   81
test  GarageFinish   78
Unf    605
RFn    422
Fin    352
Name: GarageFinish, dtype: int64
Unf    625
RFn    389
Fin    367
Name: GarageFinish, dtype: int64
train  GarageQual   81
test  GarageQual   78
TA    1311
Fa      48
Gd      14
Po       3
Ex       3
Name: GarageQual, dtype: int64
TA    1293
Fa      76
Gd      10
Po       2
Name: GarageQual, dtype: int64
train  GarageCond   81
test  GarageCond   78
TA    1326
Fa      35
Gd       9
Po       7
Ex       2
Name: GarageCond, dtype: int64
TA    1328
Fa      39
Po       7
Gd       6
Ex       1
Name: GarageCond, dtype: int64
train  PoolQC   1453
test  PoolQC   1456
Gd    3
Ex    2
Fa    2
Name: PoolQC, dtype: int64
Ex    2
Gd    1
Name: PoolQC, dtype: int64
train  Fence   1179
test  Fence   1169
MnPrv    157
GdPrv     59
GdWo      54
MnWw      11
Name: Fence, dtype: int64
MnPrv    172
GdPrv     59
GdWo      58
MnWw       1
Name: Fence, dtype: int64
train  MiscFeature   1406
test  MiscFeature   1408
Shed    49
Othr     2
Gar2     2
TenC     1
Name: MiscFeature, dtype: int64
Shed    46
Gar2     3
Othr     2
Name: MiscFeature, dtype: int64
train  SaleType   0
test  SaleType   1
WD       1267
New       122
COD        43
ConLD       9
ConLw       5
ConLI       5
CWD         4
Oth         3
Con         2
Name: SaleType, dtype: int64
WD       1258
New       117
COD        44
ConLD      17
CWD         8
Oth         4
ConLI       4
ConLw       3
Con         3
Name: SaleType, dtype: int64

In [1370]:
#df_test['MSZoning'] = df_test['MSZoning'].fillna(df_test['MSZoning']=='RM')
df_test['Exterior1st']=df_test['Exterior1st'].fillna('VinylSd')

In [1371]:
df_test['Exterior2nd']=df_test['Exterior2nd'].fillna('VinylSd')

df_test['SaleType']=df_test['SaleType'].fillna('WD')

df_train['MasVnrType']=df_train['MasVnrType'].fillna('None')
df_test['MasVnrType']=df_test['MasVnrType'].fillna('None')

df_train['BsmtQual']=df_train['BsmtQual'].fillna('TA')
df_test['BsmtQual']=df_test['BsmtQual'].fillna('TA')

df_train['BsmtCond']=df_train['BsmtCond'].fillna('TA')
df_test['BsmtCond']=df_test['BsmtCond'].fillna('TA')

df_train['BsmtExposure']=df_train['BsmtExposure'].fillna('No')
df_test['BsmtExposure']=df_test['BsmtExposure'].fillna('No')

df_train['BsmtFinType1']=df_train['BsmtFinType1'].fillna('Unf')
df_test['BsmtFinType1']=df_test['BsmtFinType1'].fillna('GLQ')

df_train['BsmtFinType2']=df_train['BsmtFinType2'].fillna('Unf')
df_test['BsmtFinType2']=df_test['BsmtFinType2'].fillna('Unf')


df_train['Electrical']=df_train['Electrical'].fillna('SBrkr')


df_test['KitchenQual']=df_test['KitchenQual'].fillna('Gd')


df_test['Functional']=df_test['Functional'].fillna('Typ')

In [1372]:
#### Test Data cLear

# BsmtFinSF1   1
# BsmtFinType2   0
# BsmtFinSF2   1
# BsmtUnfSF   1
# TotalBsmtSF   1
# Heating   0
# HeatingQC   0
# CentralAir   0
# Electrical   0
# 1stFlrSF   0
# 2ndFlrSF   0
# LowQualFinSF   0
# GrLivArea   0
# BsmtFullBath   2
# BsmtHalfBath   2
# FullBath   0
# HalfBath   0
# BedroomAbvGr   0
# KitchenAbvGr   0
# KitchenQual   0
# TotRmsAbvGrd   0
# Functional   0
# Fireplaces   0
# FireplaceQu   0
# GarageType   0
# GarageYrBlt   0
# GarageFinish   0
# GarageCars   1
# GarageArea   1

df_test['BsmtFinSF1'] = df_test['BsmtFinSF1'].fillna(df_test['BsmtFinSF1'])
df_test['BsmtFinSF2'] = df_test['BsmtFinSF2'].fillna(df_test['BsmtFinSF2'])
df_test['BsmtUnfSF'] = df_test['BsmtUnfSF'].fillna(df_test['BsmtUnfSF'])
df_test['TotalBsmtSF'] = df_test['TotalBsmtSF'].fillna(df_test['TotalBsmtSF'])
df_test['BsmtFullBath'] = df_test['BsmtFullBath'].fillna(df_test['BsmtFullBath'])
df_test['BsmtHalfBath'] = df_test['BsmtHalfBath'].fillna(df_test['BsmtHalfBath'])
df_test['GarageCars'] = df_test['GarageCars'].fillna(df_test['GarageCars'])
df_test['GarageArea'] = df_test['GarageArea'].fillna(df_test['GarageArea'])

In [1373]:
#FireplaceQu
mask = df_test['FireplaceQu'].isna() 
ind = df_test['FireplaceQu'].loc[mask].sample(frac=0.5).index
df_test.loc[ind, 'FireplaceQu'] = 'Gd'
df_test['FireplaceQu'] = df_test['FireplaceQu'].fillna('TA')

mask = df_train['FireplaceQu'].isna() 
ind = df_train['FireplaceQu'].loc[mask].sample(frac=0.5).index
df_train.loc[ind, 'FireplaceQu'] = 'Gd'
df_train['FireplaceQu'] = df_train['FireplaceQu'].fillna('TA')

In [1374]:
#GarageType
mask = df_test['GarageType'].isna() 
ind = df_test['GarageType'].loc[mask].sample(frac=0.5).index
df_test.loc[ind, 'GarageType'] = 'Unf'
df_test['GarageType'] = df_test['GarageType'].fillna('RFn')


mask = df_train['GarageType'].isna() 
ind = df_train['GarageType'].loc[mask].sample(frac=0.5).index
df_train.loc[ind, 'GarageType'] = 'Unf'
df_train['GarageType'] = df_train['GarageType'].fillna('RFn')

In [1375]:
#GarageFinish
mask = df_test['GarageFinish'].isna() 
ind = df_test['GarageFinish'].loc[mask].sample(frac=0.5).index
df_test.loc[ind, 'GarageFinish'] = 'Unf'
df_test['GarageFinish'] = df_test['GarageFinish'].fillna('RFn')

mask = df_train['GarageFinish'].isna() 
ind = df_train['GarageFinish'].loc[mask].sample(frac=0.5).index
df_train.loc[ind, 'GarageFinish'] = 'Unf'
df_train['GarageFinish'] = df_train['GarageFinish'].fillna('RFn')

In [1376]:
#GarageQual

mask = df_test['GarageQual'].isna() 
ind = df_test['GarageQual'].loc[mask].sample(frac=0.5).index
df_test.loc[ind, 'GarageQual'] = 'TA'
df_test['GarageQual'] = df_test['GarageQual'].fillna('Fa')

mask = df_train['GarageQual'].isna() 
ind = df_train['GarageQual'].loc[mask].sample(frac=0.5).index
df_train.loc[ind, 'GarageQual'] = 'TA'
df_train['GarageQual'] = df_train['GarageQual'].fillna('Fa')

In [1377]:
#GarageCond

mask = df_test['GarageCond'].isna() 
ind = df_test['GarageCond'].loc[mask].sample(frac=0.5).index
df_test.loc[ind, 'GarageCond'] = 'TA'
df_test['GarageCond'] = df_test['GarageCond'].fillna('Fa')

mask = df_train['GarageCond'].isna() 
ind = df_train['GarageCond'].loc[mask].sample(frac=0.5).index
df_train.loc[ind, 'GarageCond'] = 'TA'
df_train['GarageCond'] = df_train['GarageCond'].fillna('Fa')

In [1378]:
# PoolQC

mask = df_test['PoolQC'].isna() 
ind = df_test['PoolQC'].loc[mask].sample(frac=0.5).index
df_test.loc[ind, 'PoolQC'] = 'Gd'
df_test['PoolQC'] = df_test['PoolQC'].fillna('Ex')

mask = df_train['PoolQC'].isna() 
ind = df_train['PoolQC'].loc[mask].sample(frac=0.5).index
df_train.loc[ind, 'PoolQC'] = 'Gd'
df_train['PoolQC'] = df_train['PoolQC'].fillna('Ex')

In [1379]:
#Fence

# MnPrv    172
# GdPrv
mask = df_test['Fence'].isna() 
ind = df_test['Fence'].loc[mask].sample(frac=0.5).index
df_test.loc[ind, 'Fence'] = 'MnPrv'
df_test['Fence'] = df_test['Fence'].fillna('GdPrv')

mask = df_train['Fence'].isna() 
ind = df_train['Fence'].loc[mask].sample(frac=0.5).index
df_train.loc[ind, 'Fence'] = 'MnPrv'
df_train['Fence'] = df_train['Fence'].fillna('GdPrv')

In [1380]:
# MiscFeature


# Shed    49
# Othr     2
mask = df_test['MiscFeature'].isna() 
ind = df_test['MiscFeature'].loc[mask].sample(frac=0.5).index
df_test.loc[ind, 'MiscFeature'] = 'Shed'
df_test['MiscFeature'] = df_test['MiscFeature'].fillna('Othr')

mask = df_train['MiscFeature'].isna() 
ind = df_train['MiscFeature'].loc[mask].sample(frac=0.5).index
df_train.loc[ind, 'MiscFeature'] = 'Shed'
df_train['MiscFeature'] = df_train['MiscFeature'].fillna('Othr')

In [1381]:
for col in null_valued_columns:
    print(col)

Utilities
Exterior1st
Exterior2nd
MasVnrType
BsmtQual
BsmtCond
BsmtExposure
BsmtFinType1
BsmtFinType2
Electrical
KitchenQual
Functional
FireplaceQu
GarageType
GarageFinish
GarageQual
GarageCond
PoolQC
Fence
MiscFeature
SaleType

In [1382]:
df_train

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,3,65.0,8450,1,0,3,3,AllPub,...,0,Gd,GdPrv,Othr,0,2,2008,WD,4,208500
1,2,20,3,80.0,9600,1,1,3,3,AllPub,...,0,Ex,GdPrv,Shed,0,5,2007,WD,4,181500
2,3,60,3,68.0,11250,1,0,0,3,AllPub,...,0,Gd,MnPrv,Shed,0,9,2008,WD,4,223500
3,4,70,3,60.0,9550,1,1,0,3,AllPub,...,0,Gd,MnPrv,Shed,0,2,2006,WD,0,140000
4,5,60,3,84.0,14260,1,1,0,3,AllPub,...,0,Gd,GdPrv,Othr,0,12,2008,WD,4,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,3,62.0,7917,1,0,3,3,AllPub,...,0,Gd,MnPrv,Othr,0,8,2007,WD,4,175000
1456,1457,20,3,85.0,13175,1,1,3,3,AllPub,...,0,Ex,MnPrv,Shed,0,2,2010,WD,4,210000
1457,1458,70,3,66.0,9042,1,0,3,3,AllPub,...,0,Gd,GdPrv,Shed,2500,5,2010,WD,4,266500
1458,1459,20,3,68.0,9717,1,1,3,3,AllPub,...,0,Gd,MnPrv,Othr,0,4,2010,WD,4,142125
1459,1460,20,3,75.0,9937,1,0,3,3,AllPub,...,0,Gd,GdPrv,Shed,0,6,2008,WD,4,147500

In [1383]:
for col in objects:
    if col!= 'Utilities':
        df_train[col]=encod.fit_transform(df_train[col])
        df_test[col]=encod.fit_transform(df_test[col])

In [1384]:
df_train['PoolQC'].value_counts()

2    729
0    729
1      2
Name: PoolQC, dtype: int64

In [1385]:
df_train['GarageYrBlt'] = df_train['GarageYrBlt'].fillna(df_train['GarageYrBlt'].mean())
df_test['GarageYrBlt'] = df_test['GarageYrBlt'].fillna(df_test['GarageYrBlt'].mean())

In [1386]:
df_train['LotFrontage'] = df_train['LotFrontage'].fillna(df_train['LotFrontage'].mean())
df_test['LotFrontage'] = df_test['LotFrontage'].fillna(df_test['LotFrontage'].mean())

In [1387]:
df_train['MasVnrArea'] = df_train['MasVnrArea'].fillna(df_train['MasVnrArea'].mean())
df_test['MasVnrArea'] = df_test['MasVnrArea'].fillna(df_test['MasVnrArea'].mean())

In [1388]:
df_train

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,3,65.0,8450,1,0,3,3,AllPub,...,0,2,0,1,0,2,2008,8,4,208500
1,2,20,3,80.0,9600,1,1,3,3,AllPub,...,0,0,0,2,0,5,2007,8,4,181500
2,3,60,3,68.0,11250,1,0,0,3,AllPub,...,0,2,2,2,0,9,2008,8,4,223500
3,4,70,3,60.0,9550,1,1,0,3,AllPub,...,0,2,2,2,0,2,2006,8,0,140000
4,5,60,3,84.0,14260,1,1,0,3,AllPub,...,0,2,0,1,0,12,2008,8,4,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,3,62.0,7917,1,0,3,3,AllPub,...,0,2,2,1,0,8,2007,8,4,175000
1456,1457,20,3,85.0,13175,1,1,3,3,AllPub,...,0,0,2,2,0,2,2010,8,4,210000
1457,1458,70,3,66.0,9042,1,0,3,3,AllPub,...,0,2,0,2,2500,5,2010,8,4,266500
1458,1459,20,3,68.0,9717,1,1,3,3,AllPub,...,0,2,2,1,0,4,2010,8,4,142125
1459,1460,20,3,75.0,9937,1,0,3,3,AllPub,...,0,2,0,2,0,6,2008,8,4,147500

In [1389]:
df_test

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,2,80.0,11622,1,0,3,3,AllPub,...,120,0,0,2,2,0,6,2010,8,4
1,1462,20,3,81.0,14267,1,1,0,3,AllPub,...,0,0,1,2,0,12500,6,2010,8,4
2,1463,60,3,74.0,13830,1,0,0,3,AllPub,...,0,0,1,2,2,0,3,2010,8,4
3,1464,60,3,78.0,9978,1,1,0,3,AllPub,...,0,0,1,0,1,0,6,2010,8,4
4,1465,120,3,43.0,5005,1,0,0,1,AllPub,...,144,0,1,2,1,0,1,2010,8,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,4,21.0,1936,1,0,3,3,AllPub,...,0,0,1,0,1,0,6,2006,8,4
1455,2916,160,4,21.0,1894,1,0,3,3,AllPub,...,0,0,0,0,2,0,4,2006,8,0
1456,2917,20,3,160.0,20000,1,1,3,3,AllPub,...,0,0,1,0,2,0,9,2006,8,0
1457,2918,85,3,62.0,10441,1,1,3,3,AllPub,...,0,0,1,2,2,700,7,2006,8,4
1458,2919,60,3,74.0,9627,1,1,3,3,AllPub,...,0,0,1,0,2,0,11,2006,8,4

In [1390]:
#plt.figure(figsize=(150,150))
#sns.heatmap(data=df_train.corr())

In [1391]:
df_train.corr()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,1.000000,0.011156,-0.006096,-0.009601,-0.033226,0.008916,-0.002590,0.032122,-0.019659,0.049756,...,0.057044,0.055142,-0.007243,-0.023916,-0.006242,0.021172,0.000712,0.019773,-0.005806,-0.021917
MSSubClass,0.011156,1.000000,0.035900,-0.357056,-0.139781,-0.024969,0.048515,0.119289,-0.002940,0.075910,...,0.008283,0.013129,-0.022096,-0.037507,-0.007683,-0.013585,-0.021407,0.012464,-0.024940,-0.084284
MSZoning,-0.006096,0.035900,1.000000,-0.106363,-0.034452,0.087654,-0.090816,0.061887,-0.017854,-0.009895,...,-0.003128,-0.015188,0.002761,0.015851,0.009293,-0.031496,-0.020628,0.097437,0.009494,-0.166872
LotFrontage,-0.009601,-0.357056,-0.106363,1.000000,0.306795,-0.037323,-0.021253,-0.144931,-0.075647,-0.181253,...,0.180868,0.014422,0.011907,0.040767,0.001168,0.010158,0.006768,-0.030846,0.058464,0.334901
LotArea,-0.033226,-0.139781,-0.034452,0.306795,1.000000,-0.197131,-0.005205,-0.165315,-0.149083,-0.121161,...,0.077672,-0.007655,0.000375,0.020026,0.038068,0.001205,-0.014261,0.012292,0.034169,0.263843
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
MoSold,0.021172,-0.013585,-0.031496,0.010158,0.001205,0.003690,-0.019115,-0.033455,-0.011599,0.018902,...,-0.033737,0.047169,-0.038924,-0.016639,-0.006495,1.000000,-0.145721,-0.047386,0.013320,0.046432
YrSold,0.000712,-0.021407,-0.020628,0.006768,-0.014261,-0.025043,-0.021913,0.036449,0.020507,-0.005992,...,-0.059689,-0.001549,-0.018620,0.021044,0.004906,-0.145721,1.000000,-0.002327,0.003880,-0.028923
SaleType,0.019773,0.012464,0.097437,-0.030846,0.012292,0.014339,-0.020702,-0.000911,-0.025754,0.014325,...,0.011009,-0.045500,0.005767,0.011577,0.015773,-0.047386,-0.002327,1.000000,0.184067,-0.054911
SaleCondition,-0.005806,-0.024940,0.009494,0.058464,0.034169,0.006064,0.013173,-0.038118,0.033809,0.051579,...,-0.067251,0.013079,-0.039154,0.005618,0.013027,0.013320,0.003880,0.184067,1.000000,0.213092
SalePrice,-0.021917,-0.084284,-0.166872,0.334901,0.263843,0.041036,0.008732,-0.255580,0.015453,-0.067396,...,0.092404,0.014365,-0.047783,-0.019442,-0.021190,0.046432,-0.028923,-0.054911,0.213092,1.000000

In [1392]:
df_train.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [1393]:
X_train = df_train[['MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition']]
y_train = df_train[['SalePrice']]

In [1394]:
X_test = df_test[['MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition']]

In [1395]:
lgs = xgb.XGBRegressor()

In [1396]:
for col in X_train.columns:
    print(col , " " , sum(X_train[col].isnull()))

MSSubClass   0
MSZoning   0
LotFrontage   0
LotArea   0
Street   0
Alley   0
LotShape   0
LandContour   0
LotConfig   0
LandSlope   0
Neighborhood   0
Condition1   0
Condition2   0
BldgType   0
HouseStyle   0
OverallQual   0
OverallCond   0
YearBuilt   0
YearRemodAdd   0
RoofStyle   0
RoofMatl   0
Exterior1st   0
Exterior2nd   0
MasVnrType   0
MasVnrArea   0
ExterQual   0
ExterCond   0
Foundation   0
BsmtQual   0
BsmtCond   0
BsmtExposure   0
BsmtFinType1   0
BsmtFinSF1   0
BsmtFinType2   0
BsmtFinSF2   0
BsmtUnfSF   0
TotalBsmtSF   0
Heating   0
HeatingQC   0
CentralAir   0
Electrical   0
1stFlrSF   0
2ndFlrSF   0
LowQualFinSF   0
GrLivArea   0
BsmtFullBath   0
BsmtHalfBath   0
FullBath   0
HalfBath   0
BedroomAbvGr   0
KitchenAbvGr   0
KitchenQual   0
TotRmsAbvGrd   0
Functional   0
Fireplaces   0
FireplaceQu   0
GarageType   0
GarageYrBlt   0
GarageFinish   0
GarageCars   0
GarageArea   0
GarageQual   0
GarageCond   0
PavedDrive   0
WoodDeckSF   0
OpenPorchSF   0
EnclosedPorch   0
3SsnPorch   0
ScreenPorch   0
PoolArea   0
PoolQC   0
Fence   0
MiscFeature   0
MiscVal   0
MoSold   0
YrSold   0
SaleType   0
SaleCondition   0

In [1397]:
for col in X_test.columns:
    print(col , " " , sum(X_test[col].isnull()))

MSSubClass   0
MSZoning   0
LotFrontage   0
LotArea   0
Street   0
Alley   0
LotShape   0
LandContour   0
LotConfig   0
LandSlope   0
Neighborhood   0
Condition1   0
Condition2   0
BldgType   0
HouseStyle   0
OverallQual   0
OverallCond   0
YearBuilt   0
YearRemodAdd   0
RoofStyle   0
RoofMatl   0
Exterior1st   0
Exterior2nd   0
MasVnrType   0
MasVnrArea   0
ExterQual   0
ExterCond   0
Foundation   0
BsmtQual   0
BsmtCond   0
BsmtExposure   0
BsmtFinType1   0
BsmtFinSF1   1
BsmtFinType2   0
BsmtFinSF2   1
BsmtUnfSF   1
TotalBsmtSF   1
Heating   0
HeatingQC   0
CentralAir   0
Electrical   0
1stFlrSF   0
2ndFlrSF   0
LowQualFinSF   0
GrLivArea   0
BsmtFullBath   2
BsmtHalfBath   2
FullBath   0
HalfBath   0
BedroomAbvGr   0
KitchenAbvGr   0
KitchenQual   0
TotRmsAbvGrd   0
Functional   0
Fireplaces   0
FireplaceQu   0
GarageType   0
GarageYrBlt   0
GarageFinish   0
GarageCars   1
GarageArea   1
GarageQual   0
GarageCond   0
PavedDrive   0
WoodDeckSF   0
OpenPorchSF   0
EnclosedPorch   0
3SsnPorch   0
ScreenPorch   0
PoolArea   0
PoolQC   0
Fence   0
MiscFeature   0
MiscVal   0
MoSold   0
YrSold   0
SaleType   0
SaleCondition   0

In [1398]:
X_test['BsmtFinSF1'] = X_test['BsmtFinSF1'].fillna(X_test['BsmtFinSF1'].mean())
X_test['BsmtFinSF2'] = X_test['BsmtFinSF2'].fillna(X_test['BsmtFinSF2'].mean())
X_test['BsmtUnfSF'] = X_test['BsmtUnfSF'].fillna(X_test['BsmtUnfSF'].mean())
X_test['TotalBsmtSF'] = X_test['TotalBsmtSF'].fillna(X_test['TotalBsmtSF'].mean())
X_test['BsmtFullBath'] = X_test['BsmtFullBath'].fillna(X_test['BsmtFullBath'].mean())
X_test['BsmtHalfBath'] = X_test['BsmtHalfBath'].fillna(X_test['BsmtHalfBath'].mean())
X_test['GarageCars'] = X_test['GarageCars'].fillna(X_test['GarageCars'].mean())
X_test['GarageArea'] = X_test['GarageArea'].fillna(X_test['GarageArea'].mean())

C:\Users\ASUS\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\ASUS\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\ASUS\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\ASUS\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\ASUS\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\ASUS\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\ASUS\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\ASUS\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [1399]:
y_train

      SalePrice
0        208500
1        181500
2        223500
3        140000
4        250000
...         ...
1455     175000
1456     210000
1457     266500
1458     142125
1459     147500

[1460 rows x 1 columns]

In [1400]:
lgs.fit(X_train,y_train)

XGBRegressor(base_score=0.5, booster='gbtree', callbacks=None,
             colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
             early_stopping_rounds=None, enable_categorical=False,
             eval_metric=None, gamma=0, gpu_id=-1, grow_policy='depthwise',
             importance_type=None, interaction_constraints='',
             learning_rate=0.300000012, max_bin=256, max_cat_to_onehot=4,
             max_delta_step=0, max_depth=6, max_leaves=0, min_child_weight=1,
             missing=nan, monotone_constraints='()', n_estimators=100, n_jobs=0,
             num_parallel_tree=1, predictor='auto', random_state=0, reg_alpha=0,
             reg_lambda=1, ...)

In [1401]:
 y_pred = lgs.predict(X_test)

In [1402]:
print(lgs.score(X_test,y_pred))

1.0

In [1403]:
y_pred

array([126153.   , 138189.16 , 177724.4  , ..., 166706.77 , 104189.484,
       211138.3  ], dtype=float32)

In [1404]:
type(y_pred)

numpy.ndarray

In [1405]:
df_test['Id']

0       1461
1       1462
2       1463
3       1464
4       1465
        ...
1454    2915
1455    2916
1456    2917
1457    2918
1458    2919
Name: Id, Length: 1459, dtype: int64

In [1406]:
output = pd.DataFrame(y_pred,columns=['SalePrice'])

In [1407]:
output

          SalePrice
0     126153.000000
1     138189.156250
2     177724.406250
3     190411.234375
4     183840.031250
...             ...
1454   85843.117188
1455   78521.906250
1456  166706.765625
1457  104189.484375
1458  211138.296875

[1459 rows x 1 columns]

In [1408]:
output['Id'] = df_test.Id

In [1409]:
output

          SalePrice    Id
0     126153.000000  1461
1     138189.156250  1462
2     177724.406250  1463
3     190411.234375  1464
4     183840.031250  1465
...             ...   ...
1454   85843.117188  2915
1455   78521.906250  2916
1456  166706.765625  2917
1457  104189.484375  2918
1458  211138.296875  2919

[1459 rows x 2 columns]

In [1410]:
columns_titles = ["Id","SalePrice"]
output=output.reindex(columns=columns_titles)

In [1411]:
output

        Id      SalePrice
0     1461  126153.000000
1     1462  138189.156250
2     1463  177724.406250
3     1464  190411.234375
4     1465  183840.031250
...    ...            ...
1454  2915   85843.117188
1455  2916   78521.906250
1456  2917  166706.765625
1457  2918  104189.484375
1458  2919  211138.296875

[1459 rows x 2 columns]

In [1412]:
output.to_csv('my_submission.csv',index=False)
print('Your Submission was successfully saved!')

Your Submission was successfully saved!